<div *ngIf="slide; else grid" class="images-wrapper">
    <app-image *ngFor="let image of images; index as i" 
                [image]="image" 
                [index]="i"
                [displayed]="displayed === (i + 1)"
                [prev]="(i+ 1) > displayed"
                [next]="(i + 1) < displayed"
                [displayedNum]="displayed"
                (emitDisplay)="setNewDisplayed($event)"
                ></app-image>
                
</div>
<ng-template #grid>
    <div>
        <app-image *ngFor="let image of images; index as i" ></app-image>
    </div>
</ng-template>
